@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(68.04deg, rgba(0, 0, 0, 0.99) 12.12%, #2F0639 59.12%, #64007D 83.77%, #810F9D 95.19%);
  }

  .cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
  }

.cabecalho-imagem {
    height: 55px;
  }

.cabecalho-menu{
    display: flex;
    gap: 32px;
}
.cabecalho-menu-item{
    font-family: 'Sarala', sans-serif;
  color: #ffffff;
  font-weight: 400;
  font-size: 18px

}
.cabecalho-menu-item:hover {
    color: rgba(212, 127, 252, 0.678);
  }
.conteudo{
    margin-bottom: 48px;
    border-top: 0.2px solid #915e9e;
}
.conteudo-principal{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

}
.conteudo-principal-escrito{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.conteudo-principal-escrito-titulo{
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 50px;
    color: #FFF2E7;
}
.conteudo-principal-escrito-subtitulo {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #ECD6C4;
  }
  .conteudo-principal-escrito-centro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}
  .conteudo-principal-escrito-titulo-centro{
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 50px;
    color: #FFF2E7;
  }
  .conteudo-principal-escrito-subtitulo-centro{
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: #ECD6C4;
    margin-bottom: 25px;
  }
  .conteudo-principal-escrito-botao{
    background-color: rgb(206, 111, 250);;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(99, 4, 107, 0.342);
    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #0a0909;
  } .conteudo-principal-escrito-botao:hover {
    background-color: rgba(201, 83, 255, 0.53);
  }
  .conteudo-principal-imagem {
    height: 465px;
  }
  .conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    margin-top: 48px;
  }
  
.conteudo-secundario-titulo {
    border-top: 0.4px solid #FFF2E7;
    padding-top: 48px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 24px;
    color: #FFF2EF;
    margin-bottom: 16px;
  }
  .conteudo-secundario-paragrafo {
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #ECD6C4;
  }

  .conteudo-terciario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    margin-top: 48px;
  }
  
.conteudo-terciario-titulo {
    border-top: 0.4px solid #FFF2E7;
    padding-top: 48px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 24px;
    color: #FFF2EF;
    margin-bottom: 16px;
  }
    .conteudo-terciario-paragrafo {
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #ECD6C4;
  }
  .conteudo-terciario-botao{
    background-color: rgb(206, 111, 250);;
    width: 120px;
    height: 50px;
    border: none;
    box-shadow: 4px 5px 4px rgba(99, 4, 107, 0.342);
    border-radius: 30px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #ffffff;
  } .conteudo-terciario-botao:hover {
    background-color: rgba(201, 83, 255, 0.53);
  }
  .rodape {
    padding: 32px;
    border-top: 0.4px solid #FFF2E7;
}

.rodape-imagem {
  height: 48px;
  display: block;
  margin: 0 auto;
}


/*Parte separada*/
.content-section {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
  }
  
  .content-section-heading h2, .content-section-heading .h2 {
    font-size: 3rem;
  }
  .content-section-heading h3, .content-section-heading .h3 {
    font-size: 1.7rem;
    text-transform: uppercase;
  }

  
.portfolio-item {
    display: block;
    position: relative;
    overflow: hidden;
    max-width: 530px;
    margin: auto auto 1rem;
  }
  .portfolio-item .caption {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: rgba(33, 37, 41, 0.2);
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
  }
  .portfolio-item .caption .caption-content {
    color: #fff;
    margin: auto 2rem 2rem;
  }
  .portfolio-item .caption .caption-content h2, .portfolio-item .caption .caption-content .h2 {
    font-size: 0.8rem;
    text-transform: uppercase;
  }
  .portfolio-item .caption .caption-content p {
    font-weight: 300;
    font-size: 1.2rem;
  }
  @media (min-width: 992px) {
    .portfolio-item {
      max-width: none;
      margin: 0;
    }
    .portfolio-item .caption {
      transition: background-color 0.7s, -webkit-clip-path 0.25s ease-out;
      transition: clip-path 0.25s ease-out, background-color 0.7s;
      transition: clip-path 0.25s ease-out, background-color 0.7s, -webkit-clip-path 0.25s ease-out;
      -webkit-clip-path: inset(0px);
              clip-path: inset(0px);
    }
    .portfolio-item .caption .caption-content {
      transition: opacity 0.25s;
      margin-left: 5rem;
      margin-right: 5rem;
      margin-bottom: 5rem;
    }
    .portfolio-item img {
      transition: -webkit-clip-path 0.25s ease-out;
      transition: clip-path 0.25s ease-out;
      transition: clip-path 0.25s ease-out, -webkit-clip-path 0.25s ease-out;
      -webkit-clip-path: inset(-1px);
              clip-path: inset(-1px);
    }
    .portfolio-item:hover img {
      -webkit-clip-path: inset(2rem);
              clip-path: inset(2rem);
    }
    .portfolio-item:hover .caption {
      background-color: rgba(192, 102, 221, 0.9);
      -webkit-clip-path: inset(2rem);
              clip-path: inset(2rem);
    }
  }
  caption {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: #6c757d;
    text-align: left;
  }  
  
.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container-sm, .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-md, .container-sm, .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container-lg, .container-md, .container-sm, .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1320px;
  }
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);
  }
  .row > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
  }
  
  .col {
    flex: 1 0 0%;
  }
  
  .row-cols-auto > * {
    flex: 0 0 auto;
    width: auto;
  }
  
  .row-cols-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  
  .row-cols-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  
  .row-cols-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  
  .row-cols-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  
  .row-cols-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  
  .row-cols-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  
  .col-auto {
    flex: 0 0 auto;
    width: auto;
  }
  
  .col-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
  
  .col-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  
  .col-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  
  .col-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  
  .col-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  
  .col-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  
  .col-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  
  .col-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  
  .col-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  
  .col-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  
  .col-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }
  
  .col-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  
  .offset-1 {
    margin-left: 8.33333333%;
  }
  
  .offset-2 {
    margin-left: 16.66666667%;
  }
  
  .offset-3 {
    margin-left: 25%;
  }
  
  .offset-4 {
    margin-left: 33.33333333%;
  }
  
  .offset-5 {
    margin-left: 41.66666667%;
  }
  
  .offset-6 {
    margin-left: 50%;
  }
  
  .offset-7 {
    margin-left: 58.33333333%;
  }
  
  .offset-8 {
    margin-left: 66.66666667%;
  }
  
  .offset-9 {
    margin-left: 75%;
  }
  
  .offset-10 {
    margin-left: 83.33333333%;
  }
  
  .offset-11 {
    margin-left: 91.66666667%;
  }
  
  .g-0,
  .gx-0 {
    --bs-gutter-x: 0;
  }
  
  .g-0,
  .gy-0 {
    --bs-gutter-y: 0;
  }
  
  .g-1,
  .gx-1 {
    --bs-gutter-x: 0.25rem;
  }
  
  .g-1,
  .gy-1 {
    --bs-gutter-y: 0.25rem;
  }
  
  .g-2,
  .gx-2 {
    --bs-gutter-x: 0.5rem;
  }
  
  .g-2,
  .gy-2 {
    --bs-gutter-y: 0.5rem;
  }
  
  .g-3,
  .gx-3 {
    --bs-gutter-x: 1rem;
  }
  
  .g-3,
  .gy-3 {
    --bs-gutter-y: 1rem;
  }
  
  .g-4,
  .gx-4 {
    --bs-gutter-x: 1.5rem;
  }
  
  .g-4,
  .gy-4 {
    --bs-gutter-y: 1.5rem;
  }
  
  .g-5,
  .gx-5 {
    --bs-gutter-x: 3rem;
  }
  
  .g-5,
  .gy-5 {
    --bs-gutter-y: 3rem;
  }
  
  @media (min-width: 576px) {
    .col-sm {
      flex: 1 0 0%;
    }
  
    .row-cols-sm-auto > * {
      flex: 0 0 auto;
      width: auto;
    }
  
    .row-cols-sm-1 > * {
      flex: 0 0 auto;
      width: 100%;
    }
  
    .row-cols-sm-2 > * {
      flex: 0 0 auto;
      width: 50%;
    }
  
    .row-cols-sm-3 > * {
      flex: 0 0 auto;
      width: 33.3333333333%;
    }
  
    .row-cols-sm-4 > * {
      flex: 0 0 auto;
      width: 25%;
    }
  
    .row-cols-sm-5 > * {
      flex: 0 0 auto;
      width: 20%;
    }
  
    .row-cols-sm-6 > * {
      flex: 0 0 auto;
      width: 16.6666666667%;
    }
  
    .col-sm-auto {
      flex: 0 0 auto;
      width: auto;
    }
  
    .col-sm-1 {
      flex: 0 0 auto;
      width: 8.33333333%;
    }
  
    .col-sm-2 {
      flex: 0 0 auto;
      width: 16.66666667%;
    }
  
    .col-sm-3 {
      flex: 0 0 auto;
      width: 25%;
    }
  
    .col-sm-4 {
      flex: 0 0 auto;
      width: 33.33333333%;
    }
  
    .col-sm-5 {
      flex: 0 0 auto;
      width: 41.66666667%;
    }
  
    .col-sm-6 {
      flex: 0 0 auto;
      width: 50%;
    }
  
    .col-sm-7 {
      flex: 0 0 auto;
      width: 58.33333333%;
    }
  
    .col-sm-8 {
      flex: 0 0 auto;
      width: 66.66666667%;
    }
  
    .col-sm-9 {
      flex: 0 0 auto;
      width: 75%;
    }
  
    .col-sm-10 {
      flex: 0 0 auto;
      width: 83.33333333%;
    }
  
    .col-sm-11 {
      flex: 0 0 auto;
      width: 91.66666667%;
    }
  
    .col-sm-12 {
      flex: 0 0 auto;
      width: 100%;
    }
  
    .offset-sm-0 {
      margin-left: 0;
    }
  
    .offset-sm-1 {
      margin-left: 8.33333333%;
    }
  
    .offset-sm-2 {
      margin-left: 16.66666667%;
    }
  
    .offset-sm-3 {
      margin-left: 25%;
    }
  
    .offset-sm-4 {
      margin-left: 33.33333333%;
    }
  
    .offset-sm-5 {
      margin-left: 41.66666667%;
    }
  
    .offset-sm-6 {
      margin-left: 50%;
    }
  
    .offset-sm-7 {
      margin-left: 58.33333333%;
    }
  
    .offset-sm-8 {
      margin-left: 66.66666667%;
    }
  
    .offset-sm-9 {
      margin-left: 75%;
    }
  
    .offset-sm-10 {
      margin-left: 83.33333333%;
    }
  
    .offset-sm-11 {
      margin-left: 91.66666667%;
    }
  
    .g-sm-0,
  .gx-sm-0 {
      --bs-gutter-x: 0;
    }
  
    .g-sm-0,
  .gy-sm-0 {
      --bs-gutter-y: 0;
    }
  
    .g-sm-1,
  .gx-sm-1 {
      --bs-gutter-x: 0.25rem;
    }
  
    .g-sm-1,
  .gy-sm-1 {
      --bs-gutter-y: 0.25rem;
    }
  
    .g-sm-2,
  .gx-sm-2 {
      --bs-gutter-x: 0.5rem;
    }
  
    .g-sm-2,
  .gy-sm-2 {
      --bs-gutter-y: 0.5rem;
    }
  
    .g-sm-3,
  .gx-sm-3 {
      --bs-gutter-x: 1rem;
    }
  
    .g-sm-3,
  .gy-sm-3 {
      --bs-gutter-y: 1rem;
    }
  
    .g-sm-4,
  .gx-sm-4 {
      --bs-gutter-x: 1.5rem;
    }
  
    .g-sm-4,
  .gy-sm-4 {
      --bs-gutter-y: 1.5rem;
    }
  
    .g-sm-5,
  .gx-sm-5 {
      --bs-gutter-x: 3rem;
    }
  
    .g-sm-5,
  .gy-sm-5 {
      --bs-gutter-y: 3rem;
    }
  }
  @media (min-width: 768px) {
    .col-md {
      flex: 1 0 0%;
    }
  
    .row-cols-md-auto > * {
      flex: 0 0 auto;
      width: auto;
    }
  
    .row-cols-md-1 > * {
      flex: 0 0 auto;
      width: 100%;
    }
  
    .row-cols-md-2 > * {
      flex: 0 0 auto;
      width: 50%;
    }
  
    .row-cols-md-3 > * {
      flex: 0 0 auto;
      width: 33.3333333333%;
    }
  
    .row-cols-md-4 > * {
      flex: 0 0 auto;
      width: 25%;
    }
  
    .row-cols-md-5 > * {
      flex: 0 0 auto;
      width: 20%;
    }
  
    .row-cols-md-6 > * {
      flex: 0 0 auto;
      width: 16.6666666667%;
    }
  
    .col-md-auto {
      flex: 0 0 auto;
      width: auto;
    }
  
    .col-md-1 {
      flex: 0 0 auto;
      width: 8.33333333%;
    }
  
    .col-md-2 {
      flex: 0 0 auto;
      width: 16.66666667%;
    }
  
    .col-md-3 {
      flex: 0 0 auto;
      width: 25%;
    }
  
    .col-md-4 {
      flex: 0 0 auto;
      width: 33.33333333%;
    }
  
    .col-md-5 {
      flex: 0 0 auto;
      width: 41.66666667%;
    }
  
    .col-md-6 {
      flex: 0 0 auto;
      width: 50%;
    }
  
    .col-md-7 {
      flex: 0 0 auto;
      width: 58.33333333%;
    }
  
    .col-md-8 {
      flex: 0 0 auto;
      width: 66.66666667%;
    }
  
    .col-md-9 {
      flex: 0 0 auto;
      width: 75%;
    }
  
    .col-md-10 {
      flex: 0 0 auto;
      width: 83.33333333%;
    }
  
    .col-md-11 {
      flex: 0 0 auto;
      width: 91.66666667%;
    }
  
    .col-md-12 {
      flex: 0 0 auto;
      width: 100%;
    }
  
    .offset-md-0 {
      margin-left: 0;
    }
  
    .offset-md-1 {
      margin-left: 8.33333333%;
    }
  
    .offset-md-2 {
      margin-left: 16.66666667%;
    }
  
    .offset-md-3 {
      margin-left: 25%;
    }
  
    .offset-md-4 {
      margin-left: 33.33333333%;
    }
  
    .offset-md-5 {
      margin-left: 41.66666667%;
    }
  
    .offset-md-6 {
      margin-left: 50%;
    }
  
    .offset-md-7 {
      margin-left: 58.33333333%;
    }
  
    .offset-md-8 {
      margin-left: 66.66666667%;
    }
  
    .offset-md-9 {
      margin-left: 75%;
    }
  
    .offset-md-10 {
      margin-left: 83.33333333%;
    }
  
    .offset-md-11 {
      margin-left: 91.66666667%;
    }
  
    .g-md-0,
  .gx-md-0 {
      --bs-gutter-x: 0;
    }
  
    .g-md-0,
  .gy-md-0 {
      --bs-gutter-y: 0;
    }
  
    .g-md-1,
  .gx-md-1 {
      --bs-gutter-x: 0.25rem;
    }
  
    .g-md-1,
  .gy-md-1 {
      --bs-gutter-y: 0.25rem;
    }
  
    .g-md-2,
  .gx-md-2 {
      --bs-gutter-x: 0.5rem;
    }
  
    .g-md-2,
  .gy-md-2 {
      --bs-gutter-y: 0.5rem;
    }
  
    .g-md-3,
  .gx-md-3 {
      --bs-gutter-x: 1rem;
    }
  
    .g-md-3,
  .gy-md-3 {
      --bs-gutter-y: 1rem;
    }
  
    .g-md-4,
  .gx-md-4 {
      --bs-gutter-x: 1.5rem;
    }
  
    .g-md-4,
  .gy-md-4 {
      --bs-gutter-y: 1.5rem;
    }
  
    .g-md-5,
  .gx-md-5 {
      --bs-gutter-x: 3rem;
    }
  
    .g-md-5,
  .gy-md-5 {
      --bs-gutter-y: 3rem;
    }
  }
  @media (min-width: 992px) {
    .col-lg {
      flex: 1 0 0%;
    }
  
    .row-cols-lg-auto > * {
      flex: 0 0 auto;
      width: auto;
    }
  
    .row-cols-lg-1 > * {
      flex: 0 0 auto;
      width: 100%;
    }
  
    .row-cols-lg-2 > * {
      flex: 0 0 auto;
      width: 50%;
    }
  
    .row-cols-lg-3 > * {
      flex: 0 0 auto;
      width: 33.3333333333%;
    }
  
    .row-cols-lg-4 > * {
      flex: 0 0 auto;
      width: 25%;
    }
  
    .row-cols-lg-5 > * {
      flex: 0 0 auto;
      width: 20%;
    }
  
    .row-cols-lg-6 > * {
      flex: 0 0 auto;
      width: 16.6666666667%;
    }
  
    .col-lg-auto {
      flex: 0 0 auto;
      width: auto;
    }
  
    .col-lg-1 {
      flex: 0 0 auto;
      width: 8.33333333%;
    }
  
    .col-lg-2 {
      flex: 0 0 auto;
      width: 16.66666667%;
    }
  
    .col-lg-3 {
      flex: 0 0 auto;
      width: 25%;
    }
  
    .col-lg-4 {
      flex: 0 0 auto;
      width: 33.33333333%;
    }
  
    .col-lg-5 {
      flex: 0 0 auto;
      width: 41.66666667%;
    }
  
    .col-lg-6 {
      flex: 0 0 auto;
      width: 50%;
    }
  
    .col-lg-7 {
      flex: 0 0 auto;
      width: 58.33333333%;
    }
  
    .col-lg-8 {
      flex: 0 0 auto;
      width: 66.66666667%;
    }
  
    .col-lg-9 {
      flex: 0 0 auto;
      width: 75%;
    }
  
    .col-lg-10 {
      flex: 0 0 auto;
      width: 83.33333333%;
    }
  
    .col-lg-11 {
      flex: 0 0 auto;
      width: 91.66666667%;
    }
  
    .col-lg-12 {
      flex: 0 0 auto;
      width: 100%;
    }
  
    .offset-lg-0 {
      margin-left: 0;
    }
  
    .offset-lg-1 {
      margin-left: 8.33333333%;
    }
  
    .offset-lg-2 {
      margin-left: 16.66666667%;
    }
  
    .offset-lg-3 {
      margin-left: 25%;
    }
  
    .offset-lg-4 {
      margin-left: 33.33333333%;
    }
  
    .offset-lg-5 {
      margin-left: 41.66666667%;
    }
  
    .offset-lg-6 {
      margin-left: 50%;
    }
  
    .offset-lg-7 {
      margin-left: 58.33333333%;
    }
  
    .offset-lg-8 {
      margin-left: 66.66666667%;
    }
  
    .offset-lg-9 {
      margin-left: 75%;
    }
  
    .offset-lg-10 {
      margin-left: 83.33333333%;
    }
  
    .offset-lg-11 {
      margin-left: 91.66666667%;
    }
  
    .g-lg-0,
  .gx-lg-0 {
      --bs-gutter-x: 0;
    }
  
    .g-lg-0,
  .gy-lg-0 {
      --bs-gutter-y: 0;
    }
  
    .g-lg-1,
  .gx-lg-1 {
      --bs-gutter-x: 0.25rem;
    }
  
    .g-lg-1,
  .gy-lg-1 {
      --bs-gutter-y: 0.25rem;
    }
  
    .g-lg-2,
  .gx-lg-2 {
      --bs-gutter-x: 0.5rem;
    }
  
    .g-lg-2,
  .gy-lg-2 {
      --bs-gutter-y: 0.5rem;
    }
  
    .g-lg-3,
  .gx-lg-3 {
      --bs-gutter-x: 1rem;
    }
  
    .g-lg-3,
  .gy-lg-3 {
      --bs-gutter-y: 1rem;
    }
  
    .g-lg-4,
  .gx-lg-4 {
      --bs-gutter-x: 1.5rem;
    }
  
    .g-lg-4,
  .gy-lg-4 {
      --bs-gutter-y: 1.5rem;
    }
  
    .g-lg-5,
  .gx-lg-5 {
      --bs-gutter-x: 3rem;
    }
  
    .g-lg-5,
  .gy-lg-5 {
      --bs-gutter-y: 3rem;
    }
  }
  @media (min-width: 1200px) {
    .col-xl {
      flex: 1 0 0%;
    }
  
    .row-cols-xl-auto > * {
      flex: 0 0 auto;
      width: auto;
    }
  
    .row-cols-xl-1 > * {
      flex: 0 0 auto;
      width: 100%;
    }
  
    .row-cols-xl-2 > * {
      flex: 0 0 auto;
      width: 50%;
    }
  
    .row-cols-xl-3 > * {
      flex: 0 0 auto;
      width: 33.3333333333%;
    }
  
    .row-cols-xl-4 > * {
      flex: 0 0 auto;
      width: 25%;
    }
  
    .row-cols-xl-5 > * {
      flex: 0 0 auto;
      width: 20%;
    }
  
    .row-cols-xl-6 > * {
      flex: 0 0 auto;
      width: 16.6666666667%;
    }
  
    .col-xl-auto {
      flex: 0 0 auto;
      width: auto;
    }
  
    .col-xl-1 {
      flex: 0 0 auto;
      width: 8.33333333%;
    }
  
    .col-xl-2 {
      flex: 0 0 auto;
      width: 16.66666667%;
    }
  
    .col-xl-3 {
      flex: 0 0 auto;
      width: 25%;
    }
  
    .col-xl-4 {
      flex: 0 0 auto;
      width: 33.33333333%;
    }
  
    .col-xl-5 {
      flex: 0 0 auto;
      width: 41.66666667%;
    }
  
    .col-xl-6 {
      flex: 0 0 auto;
      width: 50%;
    }
  
    .col-xl-7 {
      flex: 0 0 auto;
      width: 58.33333333%;
    }
  
    .col-xl-8 {
      flex: 0 0 auto;
      width: 66.66666667%;
    }
  
    .col-xl-9 {
      flex: 0 0 auto;
      width: 75%;
    }
  
    .col-xl-10 {
      flex: 0 0 auto;
      width: 83.33333333%;
    }
  
    .col-xl-11 {
      flex: 0 0 auto;
      width: 91.66666667%;
    }
  
    .col-xl-12 {
      flex: 0 0 auto;
      width: 100%;
    }
  
    .offset-xl-0 {
      margin-left: 0;
    }
  
    .offset-xl-1 {
      margin-left: 8.33333333%;
    }
  
    .offset-xl-2 {
      margin-left: 16.66666667%;
    }
  
    .offset-xl-3 {
      margin-left: 25%;
    }
  
    .offset-xl-4 {
      margin-left: 33.33333333%;
    }
  
    .offset-xl-5 {
      margin-left: 41.66666667%;
    }
  
    .offset-xl-6 {
      margin-left: 50%;
    }
  
    .offset-xl-7 {
      margin-left: 58.33333333%;
    }
  
    .offset-xl-8 {
      margin-left: 66.66666667%;
    }
  
    .offset-xl-9 {
      margin-left: 75%;
    }
  
    .offset-xl-10 {
      margin-left: 83.33333333%;
    }
  
    .offset-xl-11 {
      margin-left: 91.66666667%;
    }
  
    .g-xl-0,
  .gx-xl-0 {
      --bs-gutter-x: 0;
    }
  
    .g-xl-0,
  .gy-xl-0 {
      --bs-gutter-y: 0;
    }
  
    .g-xl-1,
  .gx-xl-1 {
      --bs-gutter-x: 0.25rem;
    }
  
    .g-xl-1,
  .gy-xl-1 {
      --bs-gutter-y: 0.25rem;
    }
  
    .g-xl-2,
  .gx-xl-2 {
      --bs-gutter-x: 0.5rem;
    }
  
    .g-xl-2,
  .gy-xl-2 {
      --bs-gutter-y: 0.5rem;
    }
  
    .g-xl-3,
  .gx-xl-3 {
      --bs-gutter-x: 1rem;
    }
  
    .g-xl-3,
  .gy-xl-3 {
      --bs-gutter-y: 1rem;
    }
  
    .g-xl-4,
  .gx-xl-4 {
      --bs-gutter-x: 1.5rem;
    }
  
    .g-xl-4,
  .gy-xl-4 {
      --bs-gutter-y: 1.5rem;
    }
  
    .g-xl-5,
  .gx-xl-5 {
      --bs-gutter-x: 3rem;
    }
  
    .g-xl-5,
  .gy-xl-5 {
      --bs-gutter-y: 3rem;
    }
  }
  @media (min-width: 1400px) {
    .col-xxl {
      flex: 1 0 0%;
    }
  
    .row-cols-xxl-auto > * {
      flex: 0 0 auto;
      width: auto;
    }
  
    .row-cols-xxl-1 > * {
      flex: 0 0 auto;
      width: 100%;
    }
  
    .row-cols-xxl-2 > * {
      flex: 0 0 auto;
      width: 50%;
    }
  
    .row-cols-xxl-3 > * {
      flex: 0 0 auto;
      width: 33.3333333333%;
    }
  
    .row-cols-xxl-4 > * {
      flex: 0 0 auto;
      width: 25%;
    }
  
    .row-cols-xxl-5 > * {
      flex: 0 0 auto;
      width: 20%;
    }
  
    .row-cols-xxl-6 > * {
      flex: 0 0 auto;
      width: 16.6666666667%;
    }
  
    .col-xxl-auto {
      flex: 0 0 auto;
      width: auto;
    }
  
    .col-xxl-1 {
      flex: 0 0 auto;
      width: 8.33333333%;
    }
  
    .col-xxl-2 {
      flex: 0 0 auto;
      width: 16.66666667%;
    }
  
    .col-xxl-3 {
      flex: 0 0 auto;
      width: 25%;
    }
  
    .col-xxl-4 {
      flex: 0 0 auto;
      width: 33.33333333%;
    }
  
    .col-xxl-5 {
      flex: 0 0 auto;
      width: 41.66666667%;
    }
  
    .col-xxl-6 {
      flex: 0 0 auto;
      width: 50%;
    }
  
    .col-xxl-7 {
      flex: 0 0 auto;
      width: 58.33333333%;
    }
  
    .col-xxl-8 {
      flex: 0 0 auto;
      width: 66.66666667%;
    }
  
    .col-xxl-9 {
      flex: 0 0 auto;
      width: 75%;
    }
  
    .col-xxl-10 {
      flex: 0 0 auto;
      width: 83.33333333%;
    }
  
    .col-xxl-11 {
      flex: 0 0 auto;
      width: 91.66666667%;
    }
  
    .col-xxl-12 {
      flex: 0 0 auto;
      width: 100%;
    }
  
    .offset-xxl-0 {
      margin-left: 0;
    }
  
    .offset-xxl-1 {
      margin-left: 8.33333333%;
    }
  
    .offset-xxl-2 {
      margin-left: 16.66666667%;
    }
  
    .offset-xxl-3 {
      margin-left: 25%;
    }
  
    .offset-xxl-4 {
      margin-left: 33.33333333%;
    }
  
    .offset-xxl-5 {
      margin-left: 41.66666667%;
    }
  
    .offset-xxl-6 {
      margin-left: 50%;
    }
  
    .offset-xxl-7 {
      margin-left: 58.33333333%;
    }
  
    .offset-xxl-8 {
      margin-left: 66.66666667%;
    }
  
    .offset-xxl-9 {
      margin-left: 75%;
    }
  
    .offset-xxl-10 {
      margin-left: 83.33333333%;
    }
  
    .offset-xxl-11 {
      margin-left: 91.66666667%;
    }
  
    .g-xxl-0,
  .gx-xxl-0 {
      --bs-gutter-x: 0;
    }
  
    .g-xxl-0,
  .gy-xxl-0 {
      --bs-gutter-y: 0;
    }
  
    .g-xxl-1,
  .gx-xxl-1 {
      --bs-gutter-x: 0.25rem;
    }
  
    .g-xxl-1,
  .gy-xxl-1 {
      --bs-gutter-y: 0.25rem;
    }
  
    .g-xxl-2,
  .gx-xxl-2 {
      --bs-gutter-x: 0.5rem;
    }
  
    .g-xxl-2,
  .gy-xxl-2 {
      --bs-gutter-y: 0.5rem;
    }
  
    .g-xxl-3,
  .gx-xxl-3 {
      --bs-gutter-x: 1rem;
    }
  
    .g-xxl-3,
  .gy-xxl-3 {
      --bs-gutter-y: 1rem;
    }
  
    .g-xxl-4,
  .gx-xxl-4 {
      --bs-gutter-x: 1.5rem;
    }
  
    .g-xxl-4,
  .gy-xxl-4 {
      --bs-gutter-y: 1.5rem;
    }
  
    .g-xxl-5,
  .gx-xxl-5 {
      --bs-gutter-x: 3rem;
    }
  
    .g-xxl-5,
  .gy-xxl-5 {
      --bs-gutter-y: 3rem;
    }
  }
  .img-fluid {
    max-width: 100%;
    height: auto;
  }

 /* .social-link {
    display: block;
    text-decoration: none;
    height: 4rem;
    width: 4rem;
    line-height: 4.3rem;
    font-size: 1.5rem;
    background-color:  #891d9f;
    transition: background-color 0.15s ease-in-out;
    box-shadow: 0 3px 3px 0 rgba(170, 81, 211, 0.822);
  }
 .social-link:hover {
    background-color: rgb(174, 81, 211);
    text-decoration: none;
  }
  .list-inline {
    padding-left: 0;
    list-style: none;
  }
  
  .list-inline-item {
    display: inline-block;
  }
  .list-inline-item:not(:last-child) {
    margin-right: 0.5rem;
  }
  .rounded-circle {
    border-radius: 50% !important;
  }
  .text-white {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
  }
  :root {
    --bs-blue: #1D809F;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ecb807;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #000000;
    --bs-secondary: #ffee00;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ecb807;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-lilas: #BC93B3;
    --bs-dark: #212529;
    --bs-primary-rgb: 29, 128, 159;
    --bs-secondary-rgb: 255, 238, 0;
    --bs-success-rgb: 25, 135, 84;
    --bs-info-rgb: 13, 202, 240;
    --bs-warning-rgb: 236, 184, 7;
    --bs-danger-rgb: 220, 53, 69;
    --bs-light-rgb: 248, 249, 250;
    --bs-lilas-rgb: 220, 160, 221;
    --bs-dark-rgb: 33, 37, 41;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-body-rgb: 33, 37, 41;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: Source Sans Pro, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #ffffff;
    --bs-body-bg: rgb(225, 184, 236);
  }*/